*{
    
    box-sizing: border-box;
}

body{
    color: white;
    background-image: url(https://images.unsplash.com/flagged/photo-1589829482673-03413c918c48?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fHN0YXJ3YXJzfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
}
.textbox {
    background-color: rgba(1, 19, 16, 0.703);
    border: 2px solid rgb(3, 81, 83);
    margin:12.5% 25%;
    line-height: 1.8;
    letter-spacing: 1.2;
    text-align: left;
    padding:2%;
    max-width: 50%;
}

h1{
    margin:0 45%;
}
span{
    color:silver;
    font-family: cursive;
    font-weight: 800;
    text-transform: uppercase;
}
span:hover{
    color:white;
}

button {
    border-radius: 20px;
    border:2px solid rgb(3, 81, 83);
    margin:  33%;
    background-color:rgb(58, 122, 131);
    color: rgb(227, 241, 240);
    margin: 0 20%;
    padding:1%;
}
button:hover {
    color:rgb(4, 39, 39);
}